<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>blglatr</title>
</head>
<body>

{% if username %}
Welcome {{username}}        <a href="/logout">Logout</a> | <a href="/newpost">New Post</a><p>
    <h1>blglatr</h1>

        {% for post in myposts %}
           <a href="/post/{{post['permalink']}}">{{post['title']}}</a><br><br>

                {{ post['body']|striptags }}


          <div style="text-align: right">
              <a href="/delete/{{post['permalink']}}"> <font size="3px" color="FF0000">
              <i> delete </i> </font></a>
          </div>
         <p style="font-size: 85%;">

                Posted {{post['post_date']}} <i>By {{post['author']}}</i><br>
                Comments:
                {% if 'comments' in post %}
                    {% set numComments = post['comments']|length()  %}

                {% else %}:
                    {% set numComments = 0 %}

                {% endif %}

                <a href="/post/{{post['permalink']}}">{{numComments}}</a>
         </p>

         <p style="font-size: 85%;">
                <em>Filed Under</em>:
                {% if 'tags' in post %}:
                    {% for tag in post['tags'][0:1] %}:
                        <a href="/tag/{{tag}}">{{tag}}</a>

                        {% for tag in post['tags'][1:] %}:
                            ,<a href="/tag/{{tag}}">{{tag}}</a>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
         </p>
        <hr size=2>
        <br>

    {% endfor %}

{% endif %}

</body>
</html>
