<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>

{% if username %}

Welcome {{username}}        <a href="/logout">Logout</a>

{% endif %}

<a href="/">Blog Home</a><br><br>
<h2>{{post['title']}}</h2>
Posted {{post['date']}}<i> By {{post['author']}}</i><br>
<hr>
     {{post['body']}}
     <p>
        <em>Filed Under</em>:
         {% if 'tags' in post %}:
            {% for tag in post['tags'][0:1] %}:
             <a href="/tag/{{tag}}">{{tag}}</a>

                 {% for tag in post['tags'][1:] %}:
                 , <a href="/tag/{{tag}}">{{tag}}</a>
                 {% endfor %}
            {% endfor %}
         {% endif %}
     </p>



     Comments:
        <ul>
            {% if 'comments' in post %}

                {% set numComments = post['comments']|length()  %}

                {% for i in range(0, numComments) %}:
                    Author: {{post['comments'][i]['author']}}<br>
                    {{post['comments'][i]['body']}}<br>
                {% endfor %}

            {% else %}:
                {% set numComments = 0 %}

            {% endif %}




             <h3>Add a comment</h3>
             <form action="/newcomment" method="POST">
                 <input type="hidden" name="permalink" value="{{post['permalink']}}">
                 {{errors}}
                 <b>Name</b> (required)<br>
                 <input type="text" name="commentName" size="60" value="{{comment['name']}}"><br>
                 <b>Email</b> (optional)<br>
                 <input type="text" name="commentEmail" size="60" value="{{comment['email']}}"><br>
                 <b>Comment</b><br>
                 <textarea name="commentBody" cols="60" rows="10">{{comment['body']}}</textarea><br>
                 <input type="submit" value="Submit">
             </form>
        </ul>


</body>
</html>



