<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>

  </head>

  <body>
    Welcome {{username}}
<p>
<ul>
<li><a href="/">Goto Blog Home</a></li>
<li>
<a href="/logout">Logout</a>
</li>
<li>
<a href="/newpost">Create a New Post</a>
</li>


  </body>

</html>
